<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referencias</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Babbage">Babbage</a></li>
                <li><a href="/Berners-Lee">Berners Lee</a></li>
                <li><a href="/Clarke">Clarke</a></li>
                <li><a href="/Hamilton">Hamilton</a></li>
                <li><a href="/Hopper">Hopper</a></li>
                <li><a href="/Lovelace">Lovelace</a></li>
                <li><a href="/Turing">Turing</a></li>
                <li><a href="/Referencias">Referencias</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Referencias de páginas</h1>
    <ul>
        <li><a href="https://es.wikipedia.org/wiki/Charles_Babbage">Charles Babbage. Wikipedia</a></li>
        <li><a href="https://www.britannica.com/biography/Charles-Babbage">Charles Babbage. Britannica</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Tim_Berners-Lee">Tim Berners-Lee. Wikipedia</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Joan_Clarke">Alan Turing. Wikipedia</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Margaret_Hamilton_(cient%C3%ADfica)">Margaret Hamilton. Wikipedia</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Grace_Murray_Hopper">Grace Hopper. Wikipedia</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Ada_Lovelace">Ada Lovelace. Wikipedia</a></li>
        <li><a href="https://es.wikipedia.org/wiki/Alan_Turing">Alan Turing. Wikipedia</a></li>
    </ul>
    </main>
</body>
</html>